@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf) format(truetype);
}

* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    background-color: #B1A7A6;
}

*,
    ::before,
    ::after {
    box-sizing: inherit;
    }

:root {
}

body {
    padding: 0 2rem;
}

p, h1 {
    margin: 1rem;
}

.codecont {
    background-color: #161A1D;
    color: #E5383B;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid;
    min-width: fit-content;
}

.vhcenter { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}