@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/source-sans-pro/SourceSansPro-Regular.otf) format(truetype);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.785rem;
    background-color: var(--gray-500);
}

body {
    padding: 0 2rem;
}

h1 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 3rem;
    color: var(--dark);
}

.empty {
    background-color: var(--purple);
}

.tabletitle {
    background-color: var(--red);
    color: var(--dark-gray);
}

.rest {
    background-color: var(--dark-gray);
    color: var(--dark);
}

.doubletrouble {
    background-color: var(--blood-red);
    color: var(--dark-gray);
}

.timetable {
    font-size: 1.5rem;
    background-color: var(--dark);
    text-align: center;
    color: var(--red);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    border-collapse: collapse;
    width: 80%;
    height: 60%;
    min-width: fit-content;
    min-height: fit-content;
}

th:first-child {
    border: 0;
}

.vhcenter { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}